version: '3'

services:

  ldap:
    image: itasgmbhde/openldap-alpine
    build:
      context: .
    ports:
      - 8389:389
#    volumes:
#     - ldap_data:/var/lib/openldap/openldap-data
    env_file:
      - .env


#volumes:
#  ldap_data: